extends ../layout/index

block container
    div.py-2
        h1.text-4xl.my-3.font-extrabold.text-center Real   
            span.font-normal Estate 
        h2.text-center.text-2xl.font-extrabold= page

        .mt-5.mx-auto.max-w-md 
            .bg-white.py-6.px-4.shadow 
                form.space-y-4        
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for='name') Name 
                        input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder='Your Name' type='text' name='name')                  
                    div                        
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for='email') E-mail 
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder='Your e-mail' type='email' name='email') 
                    div                        
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for='password') Password 
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder='Your Password' type='password' name='password') 
                    div                        
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for='repeat_password') Repeat Password 
                        input#repeat_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder='Repeat Your Password' type='password' name='repeat_password') 

                    input(class="w-full bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-3 cursor-pointer" type="submit" value="Create Account")
